<template>
    <UserProfileStructureOne title="Contacts Menu Item"/>
</template>

<script setup>
import UserProfileStructureOne from '@/components/UserProfileMenu/structure/UserProfileStructureOne.vue'
</script>

<style>

</style>