<template>
    <UserProfileStructureOne title="General Menu Item"/>
</template>

<script setup>
import UserProfileStructureOne from '@/components/UserProfileMenu/structure/UserProfileStructureOne.vue'
</script>

<style lang="scss">

</style>