<template>
    <div class="user-profile-structure">
        <div>
            <div class="user-profile-structure__header">{{ title }}</div>
        </div>
        <div class="row-item">
            <v-col cols="3" class="row-item__title">
                <span>Описание</span>
            </v-col>
            <v-col cols="8" class="row-item__dscr">
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam voluptatum, quo provident at illum iure nulla animi ad minus suscipit tempore dolores cumque optio id veniam, commodi, sit quam dolorem.</span>
            </v-col>
        </div>
        <div class="row-item">
            <v-col cols="3" class="row-item__title">
                <span>Увлечения</span>
            </v-col>
            <v-col cols="8" class="row-item__dscr">
                <ul class="item-list">
                    <li>Увлечене 1</li>
                    <li>Увлечене 2</li>
                    <li>Увлечене 3</li>
                </ul>
            </v-col>
        </div>
        <div class="row-item">
            <v-col cols="3" class="row-item__title">
                <span>ПУНКТ</span>
            </v-col>
            <v-col cols="8" class="row-item__dscr">
                <ul class="item-list">
                    <li>Some item 1</li>
                    <li>Some item 2</li>
                    <li>Some item 3</li>
                </ul>
            </v-col>
        </div>
    </div>
</template>

<script setup>
import { defineProps } from 'vue'
const props = defineProps({
    title: String
})
</script>

<style lang="scss" scoped>
 
</style>