<template>
    <v-row>
        <v-col cols="12">
           <div class="main-page">
                <p class="main-page__title">База пользователей</p>
           </div>
        </v-col>
    </v-row>
</template>

<script setup>
import { useUserProfileStore } from "@/store"
import { onMounted, computed } from 'vue'

const store = useUserProfileStore()
    onMounted(() => {
      /**
       * если список загружен, запрос не посылаем. Сделать проверку
       * */ 
      store.isUserListEmpty()
    })
</script>

<style lang="scss" scoped>
    .main-page {
        display: flex;
        height: 100%;
        height: 100%;
        &__title {
            display: flex;
            width: 250px;
            height: 70px;
            color: #fff;
            align-items: center;
            justify-content: center;
            position: absolute;
            margin: auto;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            background: rgb(117, 182, 157);
            border-radius: 20px;
        }
    }
</style>