<template>
    <v-row>
        <v-col cols="12">
           <div class="signup">
                <div>
                    <h2 class="main-page__title" >{{ authText }}</h2>
                    <v-text-field 
                        label="login"
                        v-model="login">
                    </v-text-field>
                    <v-text-field
                        type="password"
                        label="password"
                        v-model="password">
                    </v-text-field>
                    <v-btn 
                        @click="authoring">
                        Отправить
                    </v-btn>
                    <v-switch v-model="switchAuth" 
                        @click="switchAuthMethod">
                        <template v-slot:label> {{ authText }} </template>
                    </v-switch>
                    <v-dialog
                        v-model="dialog"
                        width="auto"
                    > 
                    <v-card
                        max-width="400"
                        prepend-icon="mdi-update"
                        :text="dialogText"
                        :title="authText"
                    >
                        <template v-slot:actions>
                        <v-btn
                            class="ms-auto"
                            text="Ok"
                            @click="dialog = false"
                        ></v-btn>
                        </template>
                    </v-card>
                </v-dialog>
                </div>
           </div>
        </v-col>
    </v-row>
</template>

<script setup>
import { useUserProfileStore } from "@/store"
import { ref } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()
let authText = ref('Регистрация'),
    buttonText = ref('Зарегистрироваться'),
    dialog = ref(false),
    dialogText = ref('');
const store = useUserProfileStore()
const switchAuth = ref(false)
const login = ref('')
const password = ref('')
let signUpResult = ref('')


const authoring = async () => {
    signUpResult.value = !switchAuth.value ? 
    await store.signupUser({login, password}) : 
    await store.signinUser({login, password})
    
    if(signUpResult.value?.statusCode === 400) {
        dialog.value = true
        dialogText.value = signUpResult.value.name
    } else if (signUpResult.value?.statusCode && signUpResult.value.statusCode === 200) {
        dialog.value = true
        dialogText.value = signUpResult.value.text
    } else if (signUpResult.value?.tokens) {
        router.push('/home')
    }
}
    
const switchAuthMethod = () => {
    authText.value = switchAuth.value ? 'Регистрация' : 'Авторизация'
    buttonText.value = switchAuth.value  ? 'Зарегистрироваться' : 'Авторизоваться'
}


</script>

<style lang="scss" scoped>
    .signup {
        max-width: 300px;
        height: 300px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
</style>