<template>
    <v-row>
        <v-col cols="12"><h1 style="text-align:center; margin-top: 10px;">Управление пользователями</h1></v-col>
    </v-row>
    <v-row>
        <v-col cols="12" class="user-edit">
            <v-data-table-virtual
                :headers="headers"
                :items="usersList"
                height="400"
                item-value="name"
            >
            <template v-slot:item.id="{ item }">
                <v-icon
                    class="me-2"
                    size="small"
                    @click="editUser(item)">
                    <v-img class="icon" :src="ico.edit" />
                </v-icon>
                <v-icon
                    class="me-2"
                    size="small"
                    @click="deleteUser(item)">
                    <v-img class="icon" :src="ico.delete" />
                </v-icon>
            </template>
            
            </v-data-table-virtual>
        </v-col>
    </v-row>
</template>

<script setup>
import { 
    computed,
    ref,
 } from 'vue'

import { useRouter } from 'vue-router'
import { useUserProfileStore } from "@/store"

const store = useUserProfileStore()
const usersList = computed(() => store.userList )
store.isUserListEmpty()

const ico = {
    edit: require('@/assets/img/icon/user-edit.svg'),
    delete: require('@/assets/img/icon/delete.svg')
}
const router = useRouter()

const headers = [
    { title: 'Имя', align: 'start', key: 'name', },
    { title: 'Отчество', key: 'patronymic', align: 'end' },
    { title: 'Фамилия', key: 'surname', align: 'end' },
    { title: 'Возраст', key: 'age', align: 'end' },
    { title: 'Стэк', key: 'stack', align: 'end' },
    { title: 'Специализация', key: 'spec', align: 'end' },
    { title: 'Город', key: 'city', align: 'end'},
    { title: 'Роль', key: 'role', align: 'end' },
    { title: 'Modify', key: 'id', align: 'end' },
]

const editUser = ({id}) => {
    router.push({ path: `/user-profile-edit-page/${id}` })
}
const deleteUser = async ({id}) => {
    const index = usersList.value.findIndex(item => item.id === id)
    usersList.value.splice(index, 1)
    await store.deleteUser(id)
}

</script>

<style lang="scss" scoped>
    .user-edit {
        &__group {
            display: flex;
        }
    }
    .icon {
        margin-left: 10px;
        width: 18px;
    }
</style>