<template>
    <v-row>
        <v-col cols="12">
            <h1 class="title">Карточки пользователей</h1>
        </v-col>
    </v-row>
    <v-row class="users-page">
        <v-col cols="12">
            <div class="users-page__cards-container">
                <UserCard class="users-page__user-card"
                    v-for="card in userCards"
                    :key="card.id" 
                    :card="card"
                    :avatar="userProfileAvatar" />
            </div>
        </v-col>
    </v-row>
    
</template>

<script setup>
import UserCard from '@/components/UserCard.vue'
import { 
    computed, ref
 } from 'vue'
import { useUserProfileStore } from "@/store"
const store = useUserProfileStore()
const userCards = computed(() => store.userList.filter((user) => user.name !==''))
store.isUserListEmpty()
const userProfileAvatar= require('@/assets/img/users_photo/user_avatar.png')

</script>

<style lang="scss" scoped>
.users-page {
   
    &__cards-container {
        display: flex;
        flex-wrap: wrap;
    }
    &__user-card {
        margin: 15px 0 0 15px;
    }
}
</style>