<template>
    <div v-if="userProfile.data">
        <h3>
            Редактирование пользователя: {{ fullName }}<span></span>
        </h3>
        <v-dialog
            v-model="dialog"
            width="auto"
            >
            <v-card
                max-width="500"
                prepend-icon="mdi-update"
                :text='updateResultText'
                title="Update successful"
            >
                <template v-slot:actions>
                <v-btn
                    class="ms-auto"
                    text="Ok"
                    @click="dialog = false"
                ></v-btn>
                </template>
            </v-card>
        </v-dialog>
        <div>
            <div v-for="item in Object.keys(userProfile.data)"
                :key="item"> 
                <div class="super-test" v-if="item !== 'id' && item !== 'role'">
                    <input
                        :id="item"
                        v-model="userProfile.data[item]"
                        />
                    <label :for="item">
                        {{ item }}
                    </label>
                </div>
            </div>
            <v-btn @click="updateUserData">Save</v-btn>
        </div>
    </div>
    <div v-else>Данные не загрузились</div>
</template>

<script setup>
import { useUserProfileStore } from "@/store"
import { useRouter } from 'vue-router'
import { onMounted, computed, ref } from 'vue'

const store = useUserProfileStore()
const router = useRouter()
const userProfile = ref('')
const dialog = ref(false)
const id = router.currentRoute.value.params.id

// Обновление данных профиля
const updateUserData = async () => {
    const data = userProfile.value.data
    dialog.value = await store.updateUser(data);
    store.getAllUsers()
}

onMounted(async () => {
    userProfile.value = await store.getOne(id)
})

const fullName = computed(() => {
    return `${userProfile.value.data.name} ${userProfile.value.data.surname }`
})
const updateResultText = computed(() => {
    return `Данные пользователя "${fullName.value}" успешно обновлены`
})
</script>

<style lang="scss" scoped>
    .super-test {
        display: flex;
        input {
            margin: 5px 30px 5px 0;
        }
    }
</style>