<template>
    <div>
        <UserNav />
    </div>
</template>

<script>
import UserNav from '@/components/nav/UserNav'
export default {
    name: "UserProfilePage",
    components: {
        UserNav
    }
}
</script>