<template>
    <div>
        <v-card
                class="user-card"
                width="244">
            <v-img
                height="200px"
                :src="avatar"
                cover
            ></v-img>
            <v-card-title>
                <router-link class="user-card__user-fullname" to="/user-profile-page"> {{card.name}} {{card.surname}}</router-link>
            </v-card-title>

            <v-card-subtitle class="user-card__card-subtitle">
                {{card.spec}}
            </v-card-subtitle>
        </v-card>
    </div>
</template>

<script setup>
import { defineProps } from 'vue'
const props = defineProps({
    card: Object,
    avatar: String
})
</script>

<style lang="scss" scoped>
.user-card {
    &__card-subtitle {
        margin-bottom: 20px;
    }
    &__user-fullname {
        text-decoration: none;
        font-size: 16px;
    }
}
.title {
    text-align: center;
    margin-top: 10px;
}
</style>