<template>
  <v-app>
    <v-container>
      <navbar-item />
      <router-view />
    </v-container>
  </v-app>
</template>


<script setup>
import NavbarItem from "@/components/nav/NavbarItem"
import { useUserProfileStore } from "@/store"

const store = useUserProfileStore()
const checkUser = () => {
  const tokens = JSON.parse(localStorage.getItem('userTokens'))
  if (tokens) {
    store.userInfo.accessToken = tokens.accessToken
    store.userInfo.refreshToken = tokens.refreshToken
  }
}

checkUser()
</script>
<style lang="scss">
  @import '@/scss/global.scss';
</style>