.main-menu {
    height: 53px;
    display: flex;
    background: #E5ECED;
    justify-content: space-between;
    align-items: center;
    &__items {
        margin-left: 30px;
    }
    &__item-link, &__role-name {
        color: #3E6A65;
        text-decoration: none;
        text-transform: uppercase;
        
        &:not(:last-of-type) {
            margin-right: 10px;
        }
         &:hover:not(.main-menu__role-name) {
            font-weight: 700;
        }
    }
    &__role {
        display: flex;
        margin-right: 30px;
    }
    &__role-indicator {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #1AA127;
        position: relative;
        top: 3px;
    }
    &__logout {
        width: 16px;
        margin-left: 20px;
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    
}