.user-profile-structure {
    outline: 1px solid #D4D4D4;
    height: 419px;
    background: #FAFAFA;

    &__header {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        font-weight: 700;
    }

    .row-item {
        display: flex;
        padding-left: 10px;
        
        &__title {
            font-size: 14px;
            font-weight: 700;
        }
        &__dscr {
            font-size: 12px;
            
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid #D4D4D4;
        }
    }
}