<template>
    <div class="main-menu">
        <div class="main-menu__items">
            <router-link
                class="main-menu__item-link"
                to="/home"
                v-if="token">
                Главная
            </router-link>
            <router-link
                class="main-menu__item-link"
                to="/users-page"
                v-if="token">
                Пользователи
            </router-link>
            <router-link 
                to="/users-control-page"
                class="main-menu__item-link"
                v-if="token">
                Управление
            </router-link>
        </div>
        <div class="main-menu__role">
            <div class="main-menu__role-name">
                <span>admin</span>
            </div>
            <div class="main-menu__role-indicator"></div>
            <span
                class="main-menu__logout"
                @click="logout"><v-img :src="iconLogout"></v-img></span>
        </div>
    </div>
</template>

<script setup>

import { computed } from 'vue'
import { useUserProfileStore } from "@/store"
const store = useUserProfileStore()
const token = computed(() => store.userInfo.accessToken)
const iconLogout = require('@/assets/img/icon/logout.svg')
const logout = () => {
    store.logout()
}
</script>

<style scoped>
.main-container {
    width: min-content;
    background: #f5bebe;
}
.link {
    color: #0059ff;
    text-decoration: none;
}
</style>