<template>
    <section class="user-description">
        <v-row>
            <v-col cols="4">
                <div class="profile">
                   <div class="user-id mb-2">
                    <span>ID 12321</span>
                   </div>
                   <div class="user-data">
                        <div class="user-data__img mb-6 pt-3">
                            <v-img class="template"
                                :src='userProfileImg'    
                                cover
                            />
                        </div>
                        <div class="user-data__surname mb-2">Алексей Кириллов</div>
                        <div class="user-data__info">
                            <div class="user-data__info-headers">
                                <span>Возраст</span>
                                <span>Специализация</span>
                                <span>Стэк</span>
                                <span>Город</span>
                            </div>
                            <div class="user-data__info-values">
                                <span>37</span>
                                <span>Frontend</span>
                                <span>Vuejs, Scss, JS</span>
                                <span>Краснодар</span>
                            </div>
                        </div>
                        <div class="user-data__social">
                            <div class="user-data__ico"
                                v-for="item in userSocialIcons"
                                :key="item.path">
                                <v-img :src="item.path" />
                            </div>
                        </div>
                   </div>
                </div>                
            </v-col>
            <v-col cols="8" class="user-decription">
                <div class="inner-nav mb-2">
                    <ul class="inner-nav__menu">
                        <!-- component is -->
                        <li class="menu-item"
                            v-for="(item, index) in menuProfileItems"
                            :key="item"
                        >
                            <span class="menu-item--link"
                                @click="currentIndex = index">
                            {{ item.itemName }}
                        </span>
                    </li>
                    </ul>
                </div>
                <component :is="menuProfileItems[currentIndex].itemKey" />
            </v-col>
        </v-row>
    </section>
</template>

<script setup>
import GeneralMenuItem from '@/components/UserProfileMenu/GeneralMenuItem.vue'
import ExperMenuItem from '@/components/UserProfileMenu/ExperMenuItem.vue'
import FeedbackMenuItem from '@/components/UserProfileMenu/FeedbackMenuItem.vue'
import EducationMenuItem from '@/components/UserProfileMenu/EducationMenuItem.vue'
import ContactsMenuItem from '@/components/UserProfileMenu/ContactsMenuItem.vue'
import { ref } from 'vue'

const menuProfileItems = [
    { itemKey: GeneralMenuItem, itemName: 'Общая' },
    { itemKey: ExperMenuItem, itemName: 'Опыт' },
    { itemKey: FeedbackMenuItem, itemName: 'Обратная связь' },
    { itemKey: EducationMenuItem, itemName: 'Специализация' },
    { itemKey: ContactsMenuItem, itemName: 'Контакты' }
]

const userProfileImg = require('@/assets/img/users_photo/user1.jpg')
const userSocialIcons = [
    { path: require('@/assets/img/icon/VK.svg') },
    { path: require('@/assets/img/icon/inst.svg') },
    { path: require('@/assets/img/icon/telegram.svg') },
    { path: require('@/assets/img/icon/mail.svg') },
]
let currentIndex = ref(0)
  
</script>

<style lang="scss" scoped>
.user-description {
    margin-top: 30px;
}
    .user-id {
        align-items: center;
        display: flex;
        font-size: 20px;
        height: 53px;
        justify-content: center;
        outline: 1px solid $primary;
    }
    .user-data {
        outline: 1px solid #D4D4D4;
        background: #FAFAFA;
        &__info {
            display: flex;
            justify-content: space-around;
            max-width: 210px;
            min-width: 210px;
            margin: 0 auto;
        }
        &__img {
            width: 200px;
            height: 200px;
            margin: auto;
        }
        .template {
            background: #ddd;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
        &__surname {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
        }
        &__info-headers, &__info-values {
            display: flex;
            flex-flow: column;
        }
        &__info-headers {
            font-size: 12px;
            font-weight: 700;
            span {
                position: relative;
                padding: 2px 0;
                width: 100%;
            }
            span:not(:first-of-type)::before {
                display: flex;
                flex-grow: 1;
                content: "";
                width: 14vw;
                height: 1px;
                top: -1px;
                position: absolute;
                background: #ddd;
            }
        }
        &__info-values {
            font-size: 10px;         
            justify-content: space-evenly;
        }

        &__social {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            div:not(:last-of-type) {
                margin: 0 5px 20px 0;
            }
        }
        &__ico {
            width: 24px;
        }
    }
.inner-nav {
    width: 100%;
}

.inner-nav__menu {
    align-items: center;
    outline: 1px solid #D4D4D4;
    display: flex;
    height: 53px;
    width: 100%;

    .menu-item {
        list-style-type: none;
        margin: 0 0;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 5px;
        
        &--link {
            text-decoration: none;
            color: #3F4341;
            &:hover {
                color: rgb(108, 108, 139);
                cursor: pointer;
            }
            &:active {
                color: rgb(108, 108, 139);
                cursor: pointer;
            }
        }
    }
}


.v-application ul {
    padding: 0px;
    display: flex;
    justify-content: center;
}
.item-list {
    display: flex;
    flex-direction: column ;
    margin-left: 15px;
}
@media all and (max-width: 992px) {
    .phone-ico {
        background-size: cover !important;
        width: 30px;
        height: 30px;
        background: url('https://www.svgrepo.com/show/522956/menu-dots.svg') no-repeat;
    }
    .menu {
        background: #c8cac5;
        display: inline-flex;
        height: 59px;
        position: relative;
        justify-content: center;
        max-width: 100%;
        flex-wrap: wrap;
        flex-shrink: 1;
    }
    .inner-nav {
        position: relative;
        justify-content: center;
        display: inline-flex;
        z-index: 1;
    }
}
</style>